
REQUIREMENTS (SaLoMon)

    Package requirements:

        - grep (version 2.18 or higher is recommended)
        - sed (version 2.50 or higher is recommended)
        - tail (version 2.81 or higher is recommended)

    Usually, the "tail" utility is part of the "coreutils" package.

    Furthermore, all the recommended versions of the utilities mentioned above
    are the ones that have been used while developing SaLoMon. The project may
    also work with earlier versions.

