##############################################################################
#                                                                            #
#  Global config file for SaLoMon.                                           #
#                                                                            #
#  This file contains various options which can be set. There is no need to  #
#  change or set anything here to get SaLoMon running.                       #
#                                                                            #
#  The options inside this file cannot be set via command-line arguments.    #
#                                                                            #
#  Important notice:    Ensure that there are no whitespaces around the      #
#                       equals signs of an option. Otherwise settings will   #
#                       not be applied correctly or SaLoMon may even crash   #
#                       under certain circumstances.                         #
#                                                                            #
##############################################################################

# Delay:
#   The default amount of milliseconds to wait between each output line.
#   Relevent only when using the command-line argument to slow down the
#   output.
#
#   Options:
#     100 = minimum
#     200 = default
#     900 = maximum
delay=200

# Separator line:
#   While monitoring multiple files, an obvious separator line will be added
#   each time SaLoMon has received data from a different file. If diabled, the
#   default separator of the 'tail' command will be used.
#   
#   Options:
#     0 = disabled
#     1 = enabled (default)
separator_line=1

# Interactive dialogs:
#   When using interactive mode, you will be asked for quite some information
#   related before starting the analyzing or monitoring process. The following
#   options allow customizing the dialogs and which of them should be shown.
#
#   The dialogs for the required arguments cannot be disabled.
#
#   Options:
#     0 = disabled
#     1 = enabled (default for all)
dialog_shadow=1                 # Enable dialog shadows
dialog_show_color=1             # Show color configuration file dialog
dialog_show_delay=1             # Show delay dialog (on slow down)
dialog_show_exclude=1           # Show exclude pattern dialog
dialog_show_filter=1            # Show filter pattern dialog
dialog_show_highlight=1         # Show highlight dialog (highlighting modes)
dialog_show_ignorecase=1        # Show ignore case dialog
dialog_show_noinfo=1            # Show information header and footer dialog
dialog_show_prompt=1            # Show prompt on exit dialog
dialog_show_remove=1            # Show remove pattern dialog
dialog_show_slowdown=1          # Show slow down dialog
dialog_show_startup_notice=1    # Show startup notice dialog
dialog_show_wait=1              # Show wait on match dialog

# EOF

