##############################################################################
#                                                                            #
#  Included SaLoMon sample color configuration file for highlighting lines   #
#  which contain a certain term.                                             #
#                                                                            #
#  The given terms will be processed case-insensitive and must neither       #
#  contain spaces nor quotes. Furthermore, there must be a seperate rule     #
#  for each term (multiple terms per rule are not supported).                #
#                                                                            #
#  Depending on the color settings of the shell, the colors may vary or the  #
#  dark and light colors are identical, but the text may be bold.            #
#                                                                            #
#  You can either choose from 16 pre-defined color names (see below) or      #
#  give a number between 1 and 256 (including both) to use a 256-color       #
#  palette.                                                                  #
#                                                                            #
#  Details about the numbers and the corresponding colors can either be      #
#  printed on the shell by running SaLoMon with the '--color-table'          #
#  command-line argument or found inside the SaLoMon wiki:                   #
#                                                                            #
#    https://github.com/urbanware-org/salomon/wiki#palette-for-256-colors    #
#                                                                            #
#  Usage: <Color> <Term>                                                     #
#                                                                            #
#  Pre-defined color names:     black               white                    #
#                               brown               yellow                   #
#                               darkblue            lightblue                #
#                               darkcyan            lightcyan                #
#                               darkgray            lightgray                #
#                               darkgreen           lightgreen               #
#                               darkpurple          lightpurple              #
#                               darkred             lightred                 #
#                                                                            #
##############################################################################

# Example 1:
#
#   Lines containing the term "fail" shall be highlighted red,
#   lines containing the term "warn" shall be highlighted yellow and
#   lines containing the term "success" shall be highlighted green
#
lightred    fail
yellow      warn
lightgreen  success

# Example 2:
#
#   Lines containing the term "notice" or "info" shall be highlighted
#   blue.
#
lightblue   notice
lightblue   info

# Example 3 (using the 256-color palette):
#
#   Lines containing the term "important" shall be highlighted orange.
#
208         important

# Example 4:
#
#   Different colors for the same term do not cause any errors, however the
#   last rule counts. So, in the following case the term "notice" will be
#   highlighted blue.
#
yellow      notice
lightblue   notice

# EOF
